.g_tab img {
    width: 71%;
    padding: 10px 0px; }

.goods-th-1 {
    width: 6%; }

.goods-th-2 {
    width: 10%; }

.goods-th-3 {
    width: 32%; }

.goods-th-4 {
    width: 8%; }

.goods-th-5 {
    width: 8%; }

.goods-th-6 {
    width: 8%; }

.goods-th-7 {
    width: 8%; }

.goods-th-8 {
    width: 20%; }
